
.fc-day-header {
  background-color: "#1f71b9";
}
.fc-day-header {
  color: "#ffffff";
}
.fc-day-header .fc-sun {
  background-color: "#ff7e79";
}
.fc-day-header .fc-sat{
  background-color: "#ff7e79";
}
.fc-day {
  background-color: "#ffffff";
}


