@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i");
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
.select2-selection--single {
  border-radius: 0px !important;
  box-shadow: inset 0 1px 1px transparent;
  border: 1px solid #ccc;
  height: 33px !important; }
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  .select2-selection--single:focus {
    box-shadow: inset 0 1px 1px transparent; }

.select2-container--default .select2-selection--single {
  border: 0px; }

.select2-container--default {
  border: 1px solid #ccc; }
  .select2-container--default .select2-selection__rendered {
    padding-left: 0px !important; }
  .select2-container--default .select2-selection__arrow {
    margin-top: 3px; }

.text-center {
  text-align: center !important; }

[v-cloak] {
  display: none; }

.v-hide {
  display: none; }

.capitalize {
  text-transform: capitalize; }

.no-padding {
  padding: 0px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

label {
  font-weight: 400; }

.uppercase {
  text-transform: uppercase; }

.inline-list {
  display: inline-block; }
  .inline-list li {
    list-style: none;
    display: inline-block; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.small-btn-txt {
  font-size: 1.2rem; }

.blue-txt {
  color: #0f0573; }

.wire-btn {
  border: 1px solid white;
  color: white;
  display: inline-block;
  padding: 8px 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  background: none;
  font-weight: bold; }
  .wire-btn:hover, .wire-btn:focus {
    background: rgba(255, 255, 255, 0.8);
    color: #5e5e5e; }
  .wire-btn.full {
    padding: 10px;
    width: 100%; }

.white-txt {
  color: white; }

.yellow-txt {
  color: #e9c900; }

.alert {
  border: 0px !important;
  border-radius: 0px !important;
  padding-top: 8px !important;
  padding-bottom: 10px !important; }
  .alert a {
    text-decoration: none; }

form .left-icon {
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center; }
form .form-group.has-error input {
  border-bottom: 1px solid red; }
form .form-group.has-error .form-control-feedback {
  color: red; }
form .form-control-feedback {
  position: absolute;
  right: 0px;
  top: 0px; }

.nav-tabs li a {
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 1.2rem; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: white;
  font-weight: bold; }

.lcs_switch {
  border-radius: 0px;
  background: white;
  border: 1px solid #56b645;
  height: 31px;
  width: 70px; }
  .lcs_switch .lcs_label {
    font-size: 1.3rem;
    top: 6px; }
  .lcs_switch .lcs_cursor {
    border: 1px solid #56b645;
    width: 31px;
    height: 31px;
    border-radius: 0px;
    top: -1px;
    box-shadow: 0 1px 2px 0 transparent, 0 3px 4px 0 transparent; }
  .lcs_switch.lcs_off {
    background: white; }
    .lcs_switch.lcs_off .lcs_cursor {
      left: -1px; }
    .lcs_switch.lcs_off .lcs_label_off {
      right: 3px;
      color: #5e5e5e; }
  .lcs_switch.lcs_on {
    background: #56b645; }
    .lcs_switch.lcs_on .lcs_cursor {
      left: 38px; }
    .lcs_switch.lcs_on .lcs_label_on {
      left: 4px; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid #2ab648;
  -webkit-transition: .4s;
  transition: .4s;
  width: 68px; }
  .slider:after {
    content: 'off';
    color: grey;
    position: absolute;
    margin: 6px 5px;
    text-transform: uppercase;
    right: 0px; }

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  left: -2px;
  top: -2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid #2ab648; }

input:checked + .slider {
  background-color: none; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px); }

input:checked + .slider {
  background: #2ab648; }
  input:checked + .slider:after {
    content: 'on';
    color: white;
    position: absolute;
    left: 0px; }

.btn {
  transition: .2s; }

.btn-success {
  color: white;
  background-color: #2ab648;
  border-color: #2ab648; }
  .btn-success:hover, .btn-success:focus {
    background-color: #1da139;
    border: 1px solid #1da139;
    color: white; }

.btn-pink,
.btn-danger {
  color: white;
  background-color: #ff3366;
  border-color: #ff3366; }
  .btn-pink:hover, .btn-pink:focus,
  .btn-danger:hover,
  .btn-danger:focus {
    background-color: #dd234b;
    border: 1px solid #dd234b;
    color: white; }

.btn-primary {
  color: white;
  background-color: #1f71b9;
  border-color: #1f71b9; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #1a609d;
    color: white; }

.wire-btn-primary {
  background: white;
  color: #446bc7;
  border: 1px solid #446bc7; }
  .wire-btn-primary:hover, .wire-btn-primary:focus {
    background: #446bc7;
    color: white; }

.wire-btn-alert {
  background: white;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .wire-btn-alert:hover, .wire-btn-alert:focus {
    background: #ff0000;
    color: white; }

.dt-button {
  margin-bottom: 10px; }

.static-label {
  text-align: left !important; }

.label {
  font-weight: bold;
  width: 40px;
  display: inline-block;
  padding: 5px 10px;
  text-align: center; }
  .label.tag-Y {
    background: #006df0; }
  .label.tag-N {
    background: #F43737; }

.styled-checkbox {
  position: absolute;
  opacity: 0; }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0; }
  .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 3px;
    border: 1px solid #bbb; }
  .styled-checkbox:hover + label:before {
    background: #56b645; }
  .styled-checkbox:checked + label:before {
    background: #56b645; }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd; }
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 4px;
    background: url(../images/check_icon.png) no-repeat;
    background-size: auto auto;
    background-size: 100%;
    width: 16px;
    height: 20px;
    display: inline-block; }

.btn {
  text-transform: capitalize;
  border-radius: 4px;
  font-weight: bold; }

.success-icon-validation {
  color: #56b645 !important; }

.control-label {
  text-transform: capitalize; }

/* Nav icon */
.navicon-button {
  padding: 0px;
  margin: 0px;
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  display: inline-block;
  background: none;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background: none;
  float: left; }
  .navicon-button:hover {
    opacity: 1;
    background: none; }
    .navicon-button:hover .navicon:before {
      top: -0.55rem; }
    .navicon-button:hover .navicon:after {
      top: 0.3666666667rem; }

.navicon {
  display: inline-block;
  width: 2.2rem;
  height: 0.275rem;
  background-color: #9e9e9e;
  user-select: none;
  border-radius: 0.1571428571rem;
  transition: .3s;
  position: relative;
  background: none; }
  .navicon:before, .navicon:after {
    left: 0%;
    display: inline-block;
    width: 2.2rem;
    height: 0.275rem;
    background-color: #9e9e9e;
    user-select: none;
    border-radius: 0.1571428571rem;
    transition: .3s;
    position: absolute;
    content: '';
    transform-origin: 0.1571428571rem center; }
  .navicon:before {
    top: -0.3666666667rem; }
  .navicon:after {
    top: 0.275rem; }

.open.navicon-button .navicon:before, .open.navicon-button .navicon:after {
  transform-origin: 50% 50%;
  top: 0;
  width: 2.2rem; }
.open.navicon-button .navicon:before {
  transform: rotate3d(0, 0, 1, -45deg); }
.open.navicon-button .navicon:after {
  transform: rotate3d(0, 0, 1, 45deg); }

/* Nav icon */
.logo-header img {
  width: 100px; }

.skin-black .main-header .navbar {
  background: #015883; }
  .skin-black .main-header .navbar a,
  .skin-black .main-header .navbar span {
    color: white; }
    .skin-black .main-header .navbar a:before,
    .skin-black .main-header .navbar a i,
    .skin-black .main-header .navbar span:before,
    .skin-black .main-header .navbar span i {
      color: white; }

.skin-black .main-header .navbar > .sidebar-toggle {
  border-right: 1px solid rgba(21, 136, 194, 0.5); }
  .skin-black .main-header .navbar > .sidebar-toggle:hover, .skin-black .main-header .navbar > .sidebar-toggle:focus {
    background: rgba(21, 136, 194, 0.5); }

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid rgba(21, 136, 194, 0.5);
  color: white; }
  @media (max-width: 360px) {
    .skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
    .skin-black .main-header .navbar .navbar-right > li > a {
      border-left: 1px solid rgba(21, 136, 194, 0); } }
  .skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:hover, .skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:focus,
  .skin-black .main-header .navbar .navbar-right > li > a:hover,
  .skin-black .main-header .navbar .navbar-right > li > a:focus {
    background: rgba(21, 136, 194, 0.5); }

.navbar-custom-menu > .navbar-nav > li.dropdown:hover .dropdown-menu {
  display: inline-block; }

.flag-header-area {
  width: 15px;
  height: 15px;
  display: inline-block;
  line-height: 0; }
  .flag-header-area img {
    width: 100%;
    display: inline-block; }

.skin-black .wrapper,
.skin-black .left-side {
  background: none; }

.skin-black .main-sidebar {
  background: #00a4e7; }

#profile-sidebar {
  padding: 30px 15px;
  color: white;
  background: #1588c2; }
  #profile-sidebar #profile-img {
    padding-right: 0px;
    border-radius: 100%;
    position: relative;
    overflow: hidden; }
    #profile-sidebar #profile-img img {
      width: 100%; }
  #profile-sidebar h5 {
    margin-bottom: 5px; }
  #profile-sidebar p {
    font-size: 1rem;
    font-weight: 400; }

.skin-black .sidebar-menu > li a,
.skin-black .sidebar-menu > li a {
  color: white;
  text-decoration: none !important; }
  .skin-black .sidebar-menu > li a i,
  .skin-black .sidebar-menu > li a span,
  .skin-black .sidebar-menu > li a i,
  .skin-black .sidebar-menu > li a span {
    color: white; }
.skin-black .sidebar-menu > li:hover a, .skin-black .sidebar-menu > li:focus a, .skin-black .sidebar-menu > li.active a,
.skin-black .sidebar-menu > li:hover a,
.skin-black .sidebar-menu > li:focus a,
.skin-black .sidebar-menu > li.active a {
  background: rgba(21, 136, 194, 0.3) !important;
  border-left: 3px solid #015883 !important; }

.treeview-menu {
  margin-left: 0px !important;
  padding-left: 0px !important;
  background: #015883 !important; }
  .treeview-menu a {
    padding-left: 30px !important;
    color: white !important;
    border: 0px !important; }
  .treeview-menu li:hover {
    background: rgba(21, 136, 194, 0.3) !important; }

.navbar-default .navbar-toggle {
  border: 0px; }
  .navbar-default .navbar-toggle:hover {
    background: none !important; }

#header-toogle-large {
  display: inline-block; }
  @media (max-width: 360px) {
    #header-toogle-large {
      display: none; } }

#header-toogle-small {
  display: none; }
  @media (max-width: 360px) {
    #header-toogle-small {
      display: inline-block; } }
  #header-toogle-small:hover {
    background: none; }

@media (max-width: 360px) {
  .navbar-custom-menu {
    width: 100%; } }

#header-logo-area {
  display: inline-block; }
  @media (max-width: 360px) {
    #header-logo-area {
      width: 100%;
      text-align: center; } }

.bank.skin-black .main-header .navbar {
  background: #e2e6ef; }
  .bank.skin-black .main-header .navbar a,
  .bank.skin-black .main-header .navbar span {
    color: #223256; }
    .bank.skin-black .main-header .navbar a:before,
    .bank.skin-black .main-header .navbar a i,
    .bank.skin-black .main-header .navbar span:before,
    .bank.skin-black .main-header .navbar span i {
      color: #006df0; }
.bank.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.bank .skin-black .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid rgba(21, 136, 194, 0);
  color: white; }
  @media (max-width: 360px) {
    .bank.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
    .bank .skin-black .main-header .navbar .navbar-right > li > a {
      border-left: 1px solid rgba(21, 136, 194, 0); } }
  .bank.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:hover, .bank.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:focus,
  .bank .skin-black .main-header .navbar .navbar-right > li > a:hover,
  .bank .skin-black .main-header .navbar .navbar-right > li > a:focus {
    background: rgba(30, 38, 57, 0.2); }
.bank .navbar-custom-menu > .navbar-nav > li.dropdown:hover .dropdown-menu {
  display: inline-block; }
.bank.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a, .bank.skin-black .main-header .navbar .navbar-right > li > a {
  color: #006df0; }
  .bank.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:hover, .bank.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:focus, .bank.skin-black .main-header .navbar .navbar-right > li > a:hover, .bank.skin-black .main-header .navbar .navbar-right > li > a:focus {
    background: rgba(21, 136, 194, 0.5); }
.bank.skin-black .main-header .navbar > .sidebar-toggle {
  border-right: 1px solid rgba(21, 136, 194, 0); }
.bank.skin-black .main-sidebar {
  background: #1e2639; }
.bank.skin-black .sidebar-menu > li a,
.bank .skin-black .sidebar-menu > li a {
  color: rgba(255, 255, 255, 0.4); }
  .bank.skin-black .sidebar-menu > li a i,
  .bank.skin-black .sidebar-menu > li a span,
  .bank .skin-black .sidebar-menu > li a i,
  .bank .skin-black .sidebar-menu > li a span {
    color: rgba(255, 255, 255, 0.4); }
.bank.skin-black .sidebar-menu > li:hover a, .bank.skin-black .sidebar-menu > li:focus a, .bank.skin-black .sidebar-menu > li.active a,
.bank .skin-black .sidebar-menu > li:hover a,
.bank .skin-black .sidebar-menu > li:focus a,
.bank .skin-black .sidebar-menu > li.active a {
  background: #39455f !important;
  color: #1e2639 !important;
  border-left: 3px solid #015883 !important; }
  .bank.skin-black .sidebar-menu > li:hover a i,
  .bank.skin-black .sidebar-menu > li:hover a span, .bank.skin-black .sidebar-menu > li:focus a i,
  .bank.skin-black .sidebar-menu > li:focus a span, .bank.skin-black .sidebar-menu > li.active a i,
  .bank.skin-black .sidebar-menu > li.active a span,
  .bank .skin-black .sidebar-menu > li:hover a i,
  .bank .skin-black .sidebar-menu > li:hover a span,
  .bank .skin-black .sidebar-menu > li:focus a i,
  .bank .skin-black .sidebar-menu > li:focus a span,
  .bank .skin-black .sidebar-menu > li.active a i,
  .bank .skin-black .sidebar-menu > li.active a span {
    color: white !important; }
.bank.skin-black .sidebar-menu > li .treeview-menu li a,
.bank .skin-black .sidebar-menu > li .treeview-menu li a {
  background: #39455f; }
.bank.skin-black .sidebar-menu > li .treeview-menu li:hover, .bank.skin-black .sidebar-menu > li .treeview-menu li:focus, .bank.skin-black .sidebar-menu > li .treeview-menu li.active,
.bank .skin-black .sidebar-menu > li .treeview-menu li:hover,
.bank .skin-black .sidebar-menu > li .treeview-menu li:focus,
.bank .skin-black .sidebar-menu > li .treeview-menu li.active {
  color: #acbce0 !important; }
  .bank.skin-black .sidebar-menu > li .treeview-menu li:hover i,
  .bank.skin-black .sidebar-menu > li .treeview-menu li:hover span, .bank.skin-black .sidebar-menu > li .treeview-menu li:focus i,
  .bank.skin-black .sidebar-menu > li .treeview-menu li:focus span, .bank.skin-black .sidebar-menu > li .treeview-menu li.active i,
  .bank.skin-black .sidebar-menu > li .treeview-menu li.active span,
  .bank .skin-black .sidebar-menu > li .treeview-menu li:hover i,
  .bank .skin-black .sidebar-menu > li .treeview-menu li:hover span,
  .bank .skin-black .sidebar-menu > li .treeview-menu li:focus i,
  .bank .skin-black .sidebar-menu > li .treeview-menu li:focus span,
  .bank .skin-black .sidebar-menu > li .treeview-menu li.active i,
  .bank .skin-black .sidebar-menu > li .treeview-menu li.active span {
    color: #acbce0 !important; }
.bank.bank.skin-black .sidebar-menu > li .treeview-menu li a,
.bank .bank .skin-black .sidebar-menu > li .treeview-menu li a {
  background: #39455f !important;
  color: white !important; }
  .bank.bank.skin-black .sidebar-menu > li .treeview-menu li a:hover, .bank.bank.skin-black .sidebar-menu > li .treeview-menu li a:focus,
  .bank .bank .skin-black .sidebar-menu > li .treeview-menu li a:hover,
  .bank .bank .skin-black .sidebar-menu > li .treeview-menu li a:focus {
    background: #617195 !important;
    color: white;
    text-decoration: none !important; }

.corp.skin-black .main-header .navbar {
  background: #015883; }
  .corp.skin-black .main-header .navbar a,
  .corp.skin-black .main-header .navbar span {
    color: white !important; }
    .corp.skin-black .main-header .navbar a:before,
    .corp.skin-black .main-header .navbar a i,
    .corp.skin-black .main-header .navbar span:before,
    .corp.skin-black .main-header .navbar span i {
      color: white; }
.corp.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.corp .skin-black .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid rgba(21, 136, 194, 0);
  color: white; }
  @media (max-width: 360px) {
    .corp.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
    .corp .skin-black .main-header .navbar .navbar-right > li > a {
      border-left: 1px solid rgba(21, 136, 194, 0); } }
  .corp.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:hover, .corp.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:focus,
  .corp .skin-black .main-header .navbar .navbar-right > li > a:hover,
  .corp .skin-black .main-header .navbar .navbar-right > li > a:focus {
    background: rgba(30, 38, 57, 0.2); }
.corp .navbar-custom-menu > .navbar-nav > li.dropdown .dropdown-menu .menu {
  height: auto !important; }
.corp .navbar-custom-menu > .navbar-nav > li.dropdown .slimScrollDiv {
  height: auto !important; }
.corp .navbar-custom-menu > .navbar-nav > li.dropdown:hover .dropdown-menu {
  display: inline-block; }
  .corp .navbar-custom-menu > .navbar-nav > li.dropdown:hover .dropdown-menu a {
    color: black !important; }
.corp.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a, .corp.skin-black .main-header .navbar .navbar-right > li > a {
  color: #006df0; }
  .corp.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:hover, .corp.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a:focus, .corp.skin-black .main-header .navbar .navbar-right > li > a:hover, .corp.skin-black .main-header .navbar .navbar-right > li > a:focus {
    background: rgba(21, 136, 194, 0.5); }
.corp.skin-black .main-header .navbar > .sidebar-toggle {
  border-right: 1px solid rgba(21, 136, 194, 0); }
.corp.skin-black .main-sidebar {
  background: #00a4e7; }
.corp.skin-black .sidebar-menu > li a,
.corp .skin-black .sidebar-menu > li a {
  color: white; }
  .corp.skin-black .sidebar-menu > li a i,
  .corp.skin-black .sidebar-menu > li a span,
  .corp .skin-black .sidebar-menu > li a i,
  .corp .skin-black .sidebar-menu > li a span {
    color: white; }
.corp.skin-black .sidebar-menu > li:hover a, .corp.skin-black .sidebar-menu > li:focus a, .corp.skin-black .sidebar-menu > li.active a,
.corp .skin-black .sidebar-menu > li:hover a,
.corp .skin-black .sidebar-menu > li:focus a,
.corp .skin-black .sidebar-menu > li.active a {
  background: #1588c2 !important;
  color: white;
  border-left: 3px solid #015883 !important; }
  .corp.skin-black .sidebar-menu > li:hover a i,
  .corp.skin-black .sidebar-menu > li:hover a span, .corp.skin-black .sidebar-menu > li:focus a i,
  .corp.skin-black .sidebar-menu > li:focus a span, .corp.skin-black .sidebar-menu > li.active a i,
  .corp.skin-black .sidebar-menu > li.active a span,
  .corp .skin-black .sidebar-menu > li:hover a i,
  .corp .skin-black .sidebar-menu > li:hover a span,
  .corp .skin-black .sidebar-menu > li:focus a i,
  .corp .skin-black .sidebar-menu > li:focus a span,
  .corp .skin-black .sidebar-menu > li.active a i,
  .corp .skin-black .sidebar-menu > li.active a span {
    color: white !important; }
.corp.skin-black .sidebar-menu > li .treeview-menu li a,
.corp .skin-black .sidebar-menu > li .treeview-menu li a {
  background: #39455f;
  color: white; }
  .corp.skin-black .sidebar-menu > li .treeview-menu li a:hover,
  .corp .skin-black .sidebar-menu > li .treeview-menu li a:hover {
    opacity: 0.7; }
.corp.skin-black .sidebar-menu > li .treeview-menu li:hover, .corp.skin-black .sidebar-menu > li .treeview-menu li:focus, .corp.skin-black .sidebar-menu > li .treeview-menu li.active,
.corp .skin-black .sidebar-menu > li .treeview-menu li:hover,
.corp .skin-black .sidebar-menu > li .treeview-menu li:focus,
.corp .skin-black .sidebar-menu > li .treeview-menu li.active {
  background: rgba(255, 255, 255, 0.4) i, span; }
.corp.bank.skin-black .sidebar-menu > li .treeview-menu li a,
.corp .bank .skin-black .sidebar-menu > li .treeview-menu li a {
  background: #39455f !important;
  color: white !important; }
  .corp.bank.skin-black .sidebar-menu > li .treeview-menu li a:hover, .corp.bank.skin-black .sidebar-menu > li .treeview-menu li a:focus,
  .corp .bank .skin-black .sidebar-menu > li .treeview-menu li a:hover,
  .corp .bank .skin-black .sidebar-menu > li .treeview-menu li a:focus {
    background: #617195 !important;
    color: white;
    text-decoration: none !important; }

#content-ajax {
  min-height: 600px;
  margin-top: 0px;
  padding-bottom: 150px;
  background: white;
  display: inline-block;
  width: 100%; }
  #content-ajax .content-header.top {
    padding: 20px 15px !important;
    background: white !important;
    color: #464242 !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px !important;
    border-bottom: 1px solid #d2d6de; }
    #content-ajax .content-header.top h1 {
      display: inline-block;
      width: 100%; }
  #content-ajax .content {
    margin-top: 0px;
    padding-top: 0px;
    display: inline-block;
    width: 100%; }

.corp #content-ajax {
  background: #EAEEF3; }

.content-header > .breadcrumb {
  position: relative !important;
  display: inline-block;
  width: 100%;
  top: 0% !important;
  left: 0%;
  padding: 0px !important; }
  .content-header > .breadcrumb li,
  .content-header > .breadcrumb a {
    color: #464242 !important; }
  .content-header > .breadcrumb a:hover {
    text-decoration: underline; }

.content-header > .breadcrumb > li + li::before {
  content: '/'; }

.box {
  border-top: 0px;
  border-radius: 0px;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px transparent; }
  .box .box-header {
    padding: 15px;
    border-bottom: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    background: white; }
    .box .box-header .box-title {
      text-transform: uppercase;
      font-size: 1.3rem; }
  .box .box-body {
    padding: 20px 15px;
    border-bottom: 1px solid #d2d6de;
    background: white; }
  .box .box-footer {
    padding: 15px;
    background: none;
    border-bottom: 0px solid #d2d6de;
    background: white; }

.dataTables_wrapper {
  margin-bottom: 10px; }
  .dataTables_wrapper .dataTables_length {
    margin-bottom: 5px; }
    .dataTables_wrapper .dataTables_length select {
      margin: 0px 5px; }

.table thead,
table thead {
  background: white;
  color: #464242; }
  .table thead th,
  table thead th {
    font-size: 1.1rem;
    padding: 15px;
    border-bottom: 1px solid #ddd !important; }
.table td,
table td {
  padding: 10px 15px; }
.table tr:nth-of-type(2n+1),
table tr:nth-of-type(2n+1) {
  background: rgba(97, 113, 149, 0.1) !important; }
.table th,
.table td,
table th,
table td {
  display: table-cell;
  vertical-align: middle; }

table th,
table td {
  display: table-cell !important;
  vertical-align: middle !important; }

.form-area .has-error input[type="text"],
.form-area .has-error input[type="number"],
.form-area .has-error input[type="password"],
.form-area .has-error textarea,
.form-area .has-error .select2-container--default {
  border: 1px solid #dd4b39; }

.select2-container {
  z-index: 9999; }

html,
body {
  height: 100%;
  display: inline-block;
  width: 100%;
  margin-bottom: -10px;
  font-family: "Lato", sans-serif !important;
  min-height: 100%;
  font-size: 13px;
  background: #e9e7e7; }

table {
  font-size: 12px; }

body {
  min-height: 100%;
  position: absolute;
  color: #555; }

.dataTables_filter {
  display: none !important; }

.wrapper {
  position: absolute !important;
  min-height: 100%;
  overflow: auto;
  width: 100%;
  background: #1588c2; }

#header-area {
  background: #c7c7c7;
  padding: 10px; }

.logo-area,
#header-logo-area {
  width: auto;
  height: 50px;
  display: inline-block; }
  .logo-area img,
  #header-logo-area img {
    display: inline-block;
    width: 100%;
    height: 100%; }

footer {
  background: none;
  padding: 20px;
  z-index: 1;
  color: white;
  position: absolute;
  top: 100%;
  width: 100%;
  transform: translate(0%, -100%);
  font-size: 10px; }
  footer.relative {
    background: #39455f;
    position: relative;
    display: inline-block;
    width: 100%;
    transform: translate(0%, 0%); }
    footer.relative .text-center {
      text-align: left; }

.bank footer.relative {
  background: #39455f;
  display: inline-block;
  width: 100%;
  position: absolute;
  transform: translate(0%, -100%); }
  .bank footer.relative .text-center {
    text-align: left; }

.login-page {
  min-height: 600px;
  position: absolute;
  height: 100% !important;
  width: 100%;
  z-index: 1;
  display: inline-block; }

#login-header {
  background: white;
  padding: 10px 0px;
  position: relative;
  width: 100%;
  z-index: 6;
  border-radius: 0px;
  border: 0px;
  margin: 0px; }

.login-image-area {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%; }
  .login-image-area img {
    max-width: none;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#login-box {
  margin: 60px 0px;
  margin-bottom: 20px; }
  #login-box .login-box-body {
    background: rgba(0, 0, 0, 0.3);
    padding: 40px; }
    #login-box .login-box-body.transparent {
      background: none !important; }

#login-form input[type='text'],
#login-form input[type='password'] {
  background: none;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid white;
  box-shadow: inset 0 0px 0px transparent;
  color: white;
  padding-left: 43px;
  padding-right: 12px; }
  #login-form input[type='text']::placeholder,
  #login-form input[type='password']::placeholder {
    color: rgba(255, 255, 255, 0.5); }
#login-form .has-error input[type='text'],
#login-form .has-error input[type='password'] {
  border-bottom: 1px solid red; }
#login-form .small-btn-txt {
  margin-top: 5px;
  color: white; }
  #login-form .small-btn-txt:hover, #login-form .small-btn-txt:focus {
    color: white; }
#login-form input[type="radio"] {
  position: absolute;
  z-index: -1000; }
#login-form input[type="radio"]:checked + label {
  background: white;
  color: #5e5e5e; }

#home-left-area {
  border-left: 10px solid #e9c900;
  padding: 10px 15px;
  color: white;
  margin-bottom: 50px; }
  #home-left-area h1,
  #home-left-area h2 {
    margin-bottom: 5px;
    margin-top: 0px; }
  #home-left-area p {
    margin: 0px; }
  @media (max-width: 767px) {
    #home-left-area {
      margin-top: 50px; } }

@media (max-width: 360px) {
  .login-btn-area {
    width: 100% !important;
    margin-bottom: 5px; } }

.main-header {
  z-index: 9999; }

.main-header .navbar,
.sidebar-collapse .navbar {
  margin-left: 0px !important; }

@media (max-width: 767px) {
  #home-navbar-collapse {
    position: fixed;
    background: white;
    z-index: 2;
    width: 100%; } }

.content-wrapper {
  position: relative;
  display: flex;
  z-index: 9999; }

#preloader-content {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.8); }
  #preloader-content .preloader {
    width: 70px;
    height: 70px;
    display: inline-block;
    background: url(./images/preloader.svg) no-repeat;
    background-size: cover;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2; }

#vue-alert.hide {
  display: none; }

.vue-notif {
  margin-bottom: 0px !important; }

#notif-area #notif-inner {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 15px; }
#notif-area.fixed {
  z-index: 999991;
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed; }
  #notif-area.fixed #notif-inner {
    padding: 0px; }

.alert-success {
  background-color: #def2da !important;
  color: #418933 !important;
  border: 1px solid rgba(65, 137, 51, 0.2) !important; }

.alert-danger {
  background-color: #fdb5b5 !important;
  color: #ce0707 !important;
  border: 1px solid rgba(206, 7, 7, 0.2) !important; }

.alert-warning {
  background-color: #ffe6be !important;
  color: #f39c12 !important;
  border: 1px solid rgba(243, 156, 18, 0.2) !important; }

.skin-black .sidebar-menu > li > .treeview-menu {
  margin: 0px; }

.form-group label {
  padding: 10px 15px !important;
  font-size: 13px; }

.select2-container {
  display: inline-block;
  border: 1px solid #ccc; }

.select-full .select2-container {
  width: 100% !important; }

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  border: 0px !important; }

table tbody tr:hover,
table tbody tr.odd:hover,
table tbody tr.even:hover,
table tbody tr:hover,
table.dataTable tbody tr.odd:hover,
table.dataTable tbody tr.even:hover {
  background-color: #EFEFEF !important; }

table.dataTable tbody tr.odd,
table tbody tr.odd {
  background: #f9f9f9 !important; }

.btn-outline1 {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline1 {
  color: #428bca;
}

.btn-success.btn-outline1 {
  color: #5cb85c;
}

.btn-info.btn-outline1 {
  color: #5bc0de;
}

.btn-warning.btn-outline1 {
  color: #f0ad4e;
}

.btn-danger.btn-outline1 {
  color: #d9534f;
}

.btn-primary.btn-outline1:hover,
.btn-success.btn-outline1:hover,
.btn-info.btn-outline1:hover,
.btn-warning.btn-outline1:hover,
.btn-danger.btn-outline1:hover {
  color: #fff;
}
