$grey:#5e5e5e;
$grey_dark:#464242;

$blue:#0f0573;
$light_blue:#3d2ed1;

$yellow:#e9c900;

$head_blue:#015883;
$sidebar_blue1:#007bbc;
$sidebar_blue2:#00a4e7;

$bank_grey:#e2e6ef;
$bank_side_grey1:#1e2639;
$bank_side_grey2:#39455f;
$bank_side_grey3:#617195;

$bank_blue:#223256;
$bank_light_blue:#006df0;

$table-head-bg:#617195;

$box-color:#f2f2f2;
$body-color:white;

$green:#56b645;

$grey-border:#ccc;